<%- include("./layouts/header.ejs") %>

  <div class="container">
    <div class="row">
      <div class="col-sm-5 mt-5">
        <h2 class="alert alert-success text-center">Update Book</h2>
        <form action="/product/update/<%= data._id %>" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Product name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" value="<%= data.price %>" />
          </div>
          <button type="submit" class="btn btn-warning">Update</button>
        </form>
      </div>
    </div>
  </div>
  <%- include("./layouts/footer.ejs") %>